dnspython==2.7.0
dotenv==0.9.9
exceptiongroup==1.2.2
executing==2.0.1
fastjsonschema==2.21.1
fillpdf==0.7.3
Flask==3.1.0
flask-cors==5.0.1
fonttools==4.44.0
fpdf==1.7.2
fqdn==1.5.1
google-auth==2.30.0
google-auth-oauthlib==1.2.0
gspread==6.1.2
ipykernel==6.29.4
ipython==8.25.0
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.6
jiter==0.9.0
json5==0.10.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
langchain==0.3.21
langchain-core==0.3.49
langchain-openai==0.3.11
langchain-text-splitters==0.3.7
langsmith==0.3.21
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
numpy==2.2.4
oauthlib==3.2.2
openai==1.70.0
openpyxl>=3.1.0,<3.1.8
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pdf2image==1.17.0
pdf_processor==0.2
prompt_toolkit==3.0.47
pymongo==4.11.3
PyMuPDF==1.25.5
PyMuPDFb==1.24.3
pyparsing==3.1.1
pypdf==4.2.0
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0




